# Data (CRITICAL)
genome/
HSPC/
10X_example/
Parse_example/
BDR_example/

# Bioinformatics files
*.fastq
*.fastq.gz
*.bam
*.sam
*.vcf
*.gz
!data/scOUT_10X_seq_example_R1.fastq.gz
!data/scOUT_10X_seq_example_R2.fastq.gz
!data/scOUT_Parse_seq_example_R1.fastq.gz
!data/scOUT_Parse_seq_example_R2.fastq.gz
!data/scOUT_BDR_seq_example_R1.fastq.gz
!data/scOUT_BDR_seq_example_R2.fastq.gz


# Python
__pycache__/
*.pyc

# Conda
env/